# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
.env/
.envrc

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.manifest

# Database files
db.json

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.swp
*.sublime-workspace
*.sublime-project

# Logs
*.log

# Excel exports
listado_*.xlsx

# Node artifacts
node_modules/

# Frontend build artifacts
frontend/dist/
frontend/node_modules/
